@tailwind base;
@tailwind components;
@tailwind utilities;
/* Disable Chrome/Edge built-in eye icon in password fields */
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-password-toggle {
  display: none;
}
